<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" >Dashboard</li>
    </ol>
</nav>
<h2>Dashboard</h2> 
<div class="row">
 <div class="col-lg-3 " style="background-color:#e9e6e6">
   <div class="row">
      <div class="col-11 text-white text-center mx-2 rounded pt-2 pb-2 font-weight-bold" style="background-color:#a39e9e;
        font-family: Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif">{{Designation}}</div>
      <div class="col-12 text-center mt-2">
        <img src="assets/ishan.png">
      </div>
     <div class="col-12 text-center pt-2 pb-2, font-weight-bold" style= "font-familY: Tahoma">{{Username}}</div>
     <div class="col-12 text-center pt-2 pb-2, font-weight-bold" style= "font-family: Arial">Team Summery</div>
      <div class="col-12 mb-3">
        <ul class="list-group">
         <li class="list-group-item">No Of Team Member
          <span class="badge badge-secondary badge-pill" style="font-size: 10-px"> {{NoOfTeamMember}}</span></li>
         <li class="list-group-item">Total Cost Of All Projects
          <span class="badge badge-secondary badge-pill" style="font-size: 10-px"> & {{TotalCostOfAllProjects}} k</span>
         </li>
         <li class="list-group-item">Upcoming Project 
          <span class="badge badge-secondary badge-pill" style="font-size: 10-px">{{UpcomingProject}}</span>
         </li>
         <li class="list-group-item">PendingTask
            <span class="badge badge-secondary badge-pill" style="font-size: 10-px">{{PendingTask}}</span>
         </li>
        </ul>
      </div>
     </div>
   </div>
 <div class="col-lg-5 ">
  <div class="row">
   <div class="col-10 pt-0 pb-2" style="background-color:#e9e6e6">
    <div class="row mt-2">
       <div class="dropdown open">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"> Project A </button>
            <div class="dropdown-menu">
             <a class="dropdown-item-text" href="#" *ngFor ="let project of Projects">{{project}}</a>
               
          
            </div>
       </div>
      <div class="col 6 text-right">
            <div class="dropdown open">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Year </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item-text" href="#" *ngFor ="let years of Years">{{years}}</a>
                </div>
            </div>
      </div>
    </div>
  </div>
 <div class="col-10 text-white text-center mx-2 rounded pt-0 pb-2 font-weight-bold" style="background-color:#718d97;
     font-family:'Arial Narrow'">PROJECT BRIEFING</div>
  <div class="col-12">
    <table class="table table-borderless">
      <tr>
       <td>Project Cost</td>
       <td>${{ProjectCost}}</td>
      </tr>
      <tr>
       <td>Available Funds</td>
       <td>${{AvailableFunds}}</td>
      </tr>
     </table>
   </div>
   <div class="col-10 text-white text-center mx-2 rounded pt-0 pb-2 font-weight-bold" style="background-color:#718d97;
   font-family:'Arial Narrow'">PROJECT MEMBER SUMMARY </div>
    <div class="col-10">
      <table class="table">
       <tr>
         <th>Region</th>
         <th>Team Member Count</th>
          <th>Tempariory Member Unavailable</th>
       </tr>
       <tr *ngFor="let projectmembersummery of ProjectMemberSummery">
         <td>
           <b>{{projectmembersummery.Region}}</b>
         </td>
         <td>
           <b>{{projectmembersummery.TeamMemberCount}}</b>
         </td>
         <td>
           <b>{{projectmembersummery.TemparioryMemeryUnavailable}}</b>
         </td>
       </tr>
     
    </table>
   </div>
  </div>
 </div>
 <div class="col-lg-3" style="background-color:pink">
  <div class="row">
    <div class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 rounded font-weight-bold" style="background-color:#a39e9e;
         font-family:'Arial Narrow Bold' ">Team member</div>
     <div class="col-lg-12 pt-2">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-secondary" id="card1">
            <h2 class="mb-0">
             <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample"> East
             </button>
            </h2>
          </div>
          <div class="collapse " id="collapseExample1" data-parent="#accordion">
          <div class=" card card-body1">
            <table class="table">
                 <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr>
                   <td>1</td>
                   <td>Ford</td>
                   <td><i class="fa-fa-phone">Availible</i></td>
                  </tr>
                  <tr>
                   <td>2</td>
                   <td>Anoop</td>
                   <td><i class="fa-fa-phone">Busy</i></td>
                  </tr>
                  <tr>
                   <td>3</td>
                   <td>Ishaan</td>
                   <td><i class="fa-fa-phone">Playing Game </i></td>
                  </tr>
                 </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
        <div class="card-header bg-secondary" id="card2">
         <h2 class="mb-0">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
              aria-expanded="false" aria-controls="collapseExample2"> West
          </button> 
         </h2>
        </div>
        <div class="collapse " id="collapseExample2" data-parent="#accordion">
       <div class=" card card-body2">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td>1</td>
              <td>janu</td>
              <td><i class="fa-fa-phone">Availible</i></td>
           </tr>
           <tr>
              <td>2</td>
              <td>Anoop</td>
              <td><i class="fa-fa-phone">Busy</i></td>
           </tr>
           <tr>
              <td>3</td>
              <td>Ishaan</td>
              <td><i class="fa-fa-phone">Playing Game </i></td>
            </tr>
          </tbody>
         </table>
        </div>
       </div>
      </div>
      <div class="card">
        <div class="card-header bg-secondary" id="card3">
         <h2 class="mb-0">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3"
              aria-expanded="false" aria-controls="collapseExample3"> North
          </button> 
         </h2>
        </div>
        <div class="collapse" id="collapseExample3" data-parent="#accordion">
       <div class=" card card-body3">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td>1</td>
              <td>sanu</td>
              <td><i class="fa-fa-phone">Availible</i></td>
           </tr>
           <tr>
              <td>2</td>
              <td>Anku</td>
              <td><i class="fa-fa-phone">Busy</i></td>
           </tr>
           <tr>
              <td>3</td>
              <td>Ishaan</td>
              <td><i class="fa-fa-phone">Playing Game </i></td>
            </tr>
          </tbody>
         </table>
        </div>
       </div>
      </div>
      <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header bg-secondary" id="card4">
         <h2 class="mb-0">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4"
              aria-expanded="false" aria-controls="collapseExample4"> South
          </button> 
         </h2>
        </div>
        <div class="collapse" id="collapseExample4" data-parent="#accordion">
       <div class="card-body4">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td>1</td>
              <td>janu</td>
              <td><i class="fa-fa-phone">Availible</i></td>
           </tr>
           <tr>
              <td>2</td>
              <td>Anoop</td>
              <td><i class="fa-fa-phone">Busy</i></td>
           </tr>
           <tr>
              <td>3</td>
              <td>Ishaan</td>
              <td><i class="fa-fa-phone">Playing Game </i></td>
            </tr>
          </tbody>
         </table>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
   
  
 
   

 
